
/* font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif; */
.main-header {
    background-image: url(/img/Main.png);
    background-size: cover;
    background-repeat: no-repeat;  
}

.main-header-title {
    padding:300px 0;
}

.header-h1-text {
    font-family: 'Lato', sans-serif;
    font-size: 64px;
    font-weight: 700;
}

.header-button {
    font-family: 'Roboto', sans-serif;
    background-color: #DA0F33;
    font-size: 26px;
    font-weight: 700;
    border-radius: 0;
    padding: 10px 70px;
}







.footer-image {
    background-image: url(/img/Contact\ Background.png);
    background-size: cover;
}

.footer-content {
    padding:50px 0;
}

.footer-head {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 400;
}

.footer-button {
    font-family: 'Lato', sans-serif;
    background-color: black;
    font-size: 24px;
    font-weight: bold;
    color: white;
    padding: 6px 70px;
    border: 3px solid #FFFFFF;
}

/*---Media Queries --*/
@media (max-width: 992px) {
    .main-header {
        background-image: url(/img/Main.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right 30% top 0;
    }
  }
@media (max-width: 768px) {
    .main-header {
        background-image: url(/img/Main.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right 30% top 0;
    }
    .main-header-title {
        padding:200px 0;
    }
    .header-h1-text {
        font-size: 36px;
    }
    .header-button {
        font-size: 16px;
        padding: 10px 50px;
    }
}
@media (max-width: 576px) {
    .header-h1-text {
        font-size: 24px;
    }
}



/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url(/img/Main\ Image.png);
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








